.custom-table-margin {
  margin-top: 2cm;
}

.custom-table {
  background-color: #14503e;
  color: white;
}

.custom-thead {
  background-color: #278566;
}

.custom-table th, .custom-table td {
  border-color: #278566;
}

.custom-table tr:hover {
  background-color: #278566;
}
