<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active" [routerLink]="['/dashboard']">{{getTitle()}}</a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li (click)="logout()" class="nav-item rounded p-1" style="background: linear-gradient(to right,  #b1f3da, #b1f3da);" ngbDropdowbgn placement="bottom-right">
        <div class="dropdown-menu-arrow  justify-content-center" ngbDropdownMenu>
            <i class="ni ni-user-run"></i>
            <span> Logout</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
